fastapi==0.115.12
uvicorn[standard]==0.34.2

pydantic==2.11.4
pydantic-settings==2.2.1

SQLAlchemy==2.0.40
psycopg[binary]==3.1.19

# Testing
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-cov==6.0.0
httpx==0.28.1

#Cache
redis==5.2.1
